@use "../functions" as fn;

.advantages {
  display: flex;
  align-items: center;
  gap: fn.bs(32);

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__body,
  &__image-wrapper {
    flex: 1 1 50%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: fn.bs(40);

    @media (max-width: 768px) {
      order: 1;
    }
  }

  &__title,
  &__description {
    width: 85%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: fn.bs(10);
  }

  &__image-wrapper {
    position: relative;
    display: inline-block;
  }

  &__image {
    width: fn.bs(563);
    height: fn.bs(447);
    margin-top: fn.bs(61);
    margin-bottom: fn.bs(76);
  }

  &__square {
    position: absolute;

    &--dark {
      background-color: #001c64;
      top: 0;
      left: fn.bs(96);
      width: fn.bs(170);
      height: 100%;
      z-index: -1;
    }

    &--light {
      background-color: #1a365e;
      bottom: 0;
      right: 0;
      opacity: 0.6;
      width: fn.bs(267);
      height: fn.bs(178);
    }
  }
}
