@use "../functions" as fn;

.applicability {
  display: flex;
  flex-direction: column;
  gap: fn.bs(40);
  margin-block: fn.bs(40);

  &__list {
    display: flex;
    flex-direction: column;
    gap: fn.bs(48);
  }

  &__item {
    display: flex;
    align-items: stretch;
    gap: fn.bs(16);
  }

  &__text {
    font-size: fn.bs(24);
    font-weight: bold;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: fn.bs(8);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #6984A1;
    }
  }

  &__icon {
    width: fn.bs(98);
    height: fn.bs(98);
  }
}
