@use "../functions" as fn;

.benefits {

  &__title {
    margin-bottom: fn.bs(60);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: fn.bs(40);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: fn.bs(32);
  }

  &__icon {
    width: fn.bs(75);
    height: fn.bs(66);
  }
}