@use "../functions" as fn;

.benefits-clients {

  &__title {
    margin-bottom: fn.bs(40);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: fn.bs(28);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: fn.bs(16);
    background-color: var(--colorPurple);
    color: var(--colorLight);
    padding: fn.bs(30) fn.bs(53);
  }
}