@use "../functions" as fn;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorDark);
  min-height: var(--headerHeight);

  &__burger-button {
    color: var(--colorLight);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: fn.bs(1189);
    margin-inline: fn.bs(19);
  }

  &__menu {
    &-list {
      display: flex;
      gap: fn.bs(22);
    }

    &-link {
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: var(--colorLight);

      &:hover {
        color: var(--colorSilver);
        transition-duration: var(--transition-duration);
      }
    }
  }
}
