.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorDark);
  min-height: var(--headerHeight);

  &__burger-button {
    color: var(--colorLight);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: calc(1189 / 16 * var(--baseSize));
    margin-inline: 19px;
  }

  &__menu {

    &-list {
      display: flex;
      gap: calc(22 / 16 * var(--baseSize));
    }

    &-link {
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: var(--colorLight);
    }
  }
}