@use "../functions" as fn;

.our-objects {

  &__title {
    display: flex;
    justify-content: center;
    font-size: fn.bs(24);
    color: var(--colorDanger);
    letter-spacing: 0.11rem;
    margin-bottom: fn.bs(24);
  }

  &__image {
    width: 100%;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: fn.bs(80);
    margin-bottom: fn.bs(40);

    &-title {
      text-align: center;
    }

    &-left,
    &-right {
      flex: 1 1 50%;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }

    &-body {
      display: flex;
      gap: fn.bs(30);

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: fn.bs(24);
      margin-bottom: fn.bs(24);
    }

    &-item {
      display: flex;
      align-items: start;
      gap: fn.bs(12);
      color: var(--colorLightBlue);
    }

    &-icon {
      width: fn.bs(27);
      height: fn.bs(27);
    }
  }
}