@use "../functions" as fn;
@import "../mixins";

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    gap: fn.bs(17);
  }

  &__button {
    @include reset-button;
    width: fn.bs(12);
    height: fn.bs(12);
    border-radius: 50%;
    margin: 0 fn.bs(8);
    background-color: var(--colorGray);
    position: relative;

    &.is-current {
      background-color: var(--colorPurple);
    }
  }

  //&__button {
  //  width: 12px;
  //  height: 12px;
  //  background-color: gray;
  //  border-radius: 50%;
  //  margin: 0 4px;
  //  border: none;
  //  cursor: pointer;
  //}
}