@use "../functions" as fn;
@import "../mixins";

.pagination {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    gap: fn.bs(17);
  }

  &__button {
    @include reset-button;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--colorGray);
    position: relative;

    &.is-current {
      background-color: var(--colorPurple);
    }
  }
}