@use "./functions" as fn;

body {
  font-family: var(--font-family-base), sans-serif;
}

:root {
  --baseSize: calc(16 / 1440 * 100 * 1vw);
}

@media (max-width: 768px) {
  :root {
    --baseSize: calc(16 / 600 * 100 * 1vw);
  }
}

br + br {
  display: block;
  height: 1.2em;
}

.container {
  font-size: fn.bs(18);
  width: fn.bs(1164);
  margin: auto;

  @media (max-width: 768px) {
    width: 95%;
  }
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  font-size: fn.bs(64);
}

h2, .h2 {
  font-size: fn.bs(40);
  text-transform: uppercase;
}

h3, .h3 {
  font-size: fn.bs(40);
}

h4, .h4 {
  font-size: fn.bs(30);
}