:root {
  --colorDark: #141414;
  --colorLight: #FFFFFF;

  --colorDarkBlue: #425D7A;
  --colorLightGray: #F7F8F9;
  --colorSilver: #d2d2d2;
  --colorPurple: #091358;
  --colorDarkPurple: #050b31;
  --colorDanger: #690108;
  --colorGray: #D9D9D9;
}