:root {
  --headerHeight: calc(88 / 16 * var(--baseSize));
  --font-family-base: 'Lato', sans-serif;

  --iconColor: rgba(255, 255, 255);

  --section-padding-y: 112px;

  --transition-duration: 0.2s;
}